In [ ]:
import pandas as pd

In [ ]:
jan = "Resources/201801_hubway_tripdata.csv"
feb = "Resources/201802_hubway_tripdata.csv"
march = "Resources/201803_hubway_tripdata.csv"
april = "Resources/201804_hubway_tripdata.csv"
may = "Resources/201805-bluebikes-tripdata.csv"
june = "Resources/201806-bluebikes-tripdata.csv"
july = "Resources/201807-bluebikes-tripdata.csv"
aug = "Resources/201808-bluebikes-tripdata.csv"
sep = "Resources/201809-bluebikes-tripdata.csv"
oc = "Resources/201810-bluebikes-tripdata.csv"
nov = "Resources/201811-bluebikes-tripdata.csv"
dec = "Resources/201812-bluebikes-tripdata.csv"

In [ ]:
jan_df = pd.read_csv(jan) 
new_jan = jan_df[['tripduration', 'starttime', 'usertype']]
final_jan = new_jan.dropna()
renamed_jan = final_jan.rename(columns={'tripduration': 'Trip Duration', 'starttime': 'Start Time', 
                                        'usertype': 'User Type'})
renamed_jan['Trip Duration'] = renamed_jan['Trip Duration']/60


renamed_jan.head()

In [16]:
feb_df = pd.read_csv(feb)
new_feb = feb_df[['tripduration', 'starttime', 
                        'usertype']]
final_feb = new_feb.dropna()
renamed_feb = final_feb.rename(columns={'tripduration': 'Trip Duration', 
                                        'starttime': 'Start Time', 'usertype': 'User Type'})


renamed_feb['Start Time'] = pd.to_datetime(renamed_feb['Start Time'])
renamed_feb['Start Time'] = renamed_feb['Start Time'].dt.round('1s')

renamed_feb.head()

   Trip Duration          Start Time   User Type
0            795 2018-02-01 00:02:11  Subscriber
1            293 2018-02-01 00:05:20  Subscriber
2            204 2018-02-01 00:07:27  Subscriber
3            246 2018-02-01 00:12:20  Subscriber
4            656 2018-02-01 00:13:22  Subscriber

In [17]:
march = "Resources/2018_03.csv"
mar_df = pd.read_csv(march)
for col in mar_df.columns: 
    print(col)
mar_df.head()

RouteID
PaymentPlan
StartHub
StartLatitude
StartLongitude
StartDate
StartTime
EndHub
EndLatitude
EndLongitude
EndDate
EndTime
TripType
BikeID
BikeName
Distance_Miles
Duration
RentalAccessPath
MultipleRental

,RouteID,PaymentPlan,StartHub,StartLatitude,StartLongitude,StartDate,StartTime,EndHub,EndLatitude,EndLongitude,EndDate,EndTime,TripType,BikeID,BikeName,Distance_Miles,Duration,RentalAccessPath,MultipleRental
0,5845446,Subscriber,NaN,45.525733,-122.637228,3/1/18,0:04,NE 22nd at Burnside,45.522973,-122.643412,3/1/18,0:08,NaN,6330,0671 BIKETOWN,0.62,0:04,keypad,False
1,5845486,Subscriber,SW 12th at Clay,45.515074,-122.687030,3/1/18,0:24,NaN,45.517081,-122.679700,3/1/18,0:27,NaN,6840,0080 BIKETOWN,0.56,0:03,keypad,False
2,5845636,Subscriber,NW Couch at 2nd,45.523892,-122.672182,3/1/18,2:38,NW Marshall at Tanner Springs Park,45.530831,-122.681596,3/1/18,2:46,NaN,6306,0912 BIKETOWN,0.84,0:07,keypad,False
3,5845726,Subscriber,NW Station at Irving,45.528278,-122.676628,3/1/18,3:53,NW Couch at 2nd,45.523892,-122.672182,3/1/18,3:57,NaN,6895,0913 BIKETOWN,0.53,0:04,keypad_rfid_card,False
4,5845833,Subscriber,SW Moody at Thomas,45.494295,-122.671905,3/1/18,4:44,NW Broadway at Everett,45.525079,-122.677556,3/1/18,4:59,NaN,6483,0606 BIKETOWN,2.64,0:14,keypad_rfid_card,False

In [28]:
new_df = mar_df[["Duration", "StartTime", "StartDate", "PaymentPlan", "EndTime"]]
final_mar = new_df.dropna()
renamed_mar = final_mar.rename(columns={'Duration': 'Trip Duration', 'StartTime': 'Start Time', 
                        'StartDate': 'Date', 'PaymentPlan': 'User Type', "EndTime": "End Time"})
renamed_mar["Trip Duration"].dt.total_seconds()

AttributeError: Can only use .dt accessor with datetimelike values

In [18]:
apr_df = pd.read_csv(april)
for col in apr_df.columns: 
    print(col)

RouteID
PaymentPlan
StartHub
StartLatitude
StartLongitude
StartDate
StartTime
EndHub
EndLatitude
EndLongitude
EndDate
EndTime
TripType
BikeID
BikeName
Distance_Miles
Duration
RentalAccessPath
MultipleRental

In [19]:
may_df = pd.read_csv(may)
for col in may_df.columns: 
    print(col)

RouteID
PaymentPlan
StartHub
StartLatitude
StartLongitude
StartDate
StartTime
EndHub
EndLatitude
EndLongitude
EndDate
EndTime
TripType
BikeID
BikeName
Distance_Miles
Duration
RentalAccessPath
MultipleRental

In [24]:
oc_df = pd.read_csv(oc)
for col in oc_df.columns: 
    print(col)

RouteID
PaymentPlan
StartHub
StartLatitude
StartLongitude
StartDate
StartTime
EndHub
EndLatitude
EndLongitude
EndDate
EndTime
TripType
BikeID
BikeName
Distance_Miles
Duration
RentalAccessPath
MultipleRental