In [61]:
import pandas as pd

In [62]:
jan = "Resources/201801_hubway_tripdata.csv"
feb = "Resources/201802_hubway_tripdata.csv"
march = "Resources/2018_03.csv"
april = "Resources/2018_04.csv"
may = "Resources/2018_05.csv"
june = "Resources/2018_06.csv"
july = "Resources/2018_07.csv"
aug = "Resources/2018_08.csv"
sep = "Resources/2018_09.csv"
oc = "Resources/2018_10.csv"
nov = "Resources/2018_11.csv"
dec = "Resources/2018_12.csv"

In [93]:
jan_df = pd.read_csv(jan) 
new_jan = jan_df[['tripduration', 'starttime', 
                        'stoptime', 'usertype', 
                        'birth year', 'gender']]
final_jan = new_jan.dropna()
renamed_jan = final_jan.rename(columns={'tripduration': 'Trip Duration', 'starttime': 'Start Time', 
                        'stoptime': 'Stop Time', 'usertype': 'User Type', 
                        'birth year': 'Birth Year', 'gender': 'Gender'})
renamed_jan['Age'] = 2018 - (renamed_jan['Birth Year'])
renamed_jan['Gender'] = renamed_jan['Gender'].replace([0,1,2],['Female','Male','Other'])
renamed_jan

,Trip Duration,Start Time,Stop Time,User Type,Birth Year,Gender,Age
0,388,1/1/18 0:16,1/1/18 0:23,Subscriber,1992.0,Other,26.0
1,265,1/1/18 0:42,1/1/18 0:46,Subscriber,1990.0,Male,28.0
2,1167,1/1/18 0:42,1/1/18 1:02,Subscriber,1990.0,Male,28.0
3,855,1/1/18 0:56,1/1/18 1:11,Subscriber,1992.0,Male,26.0
4,487,1/1/18 1:07,1/1/18 1:16,Subscriber,1993.0,Male,25.0
5,81,1/1/18 1:15,1/1/18 1:17,Subscriber,1990.0,Male,28.0
6,417,1/1/18 1:35,1/1/18 1:42,Subscriber,1986.0,Male,32.0
7,564,1/1/18 1:35,1/1/18 1:45,Subscriber,1980.0,Male,38.0
8,515,1/1/18 1:45,1/1/18 1:53,Subscriber,1989.0,Male,29.0
9,555,1/1/18 1:56,1/1/18 2:06,Subscriber,1989.0,Male,29.0
10,400,1/1/18 2:01,1/1/18 2:08,Subscriber,1994.0,Male,24.0
11,293,1/1/18 2:06,1/1/18 2:10,Subscriber,1984.0,Male,34.0
12,565,1/1/18 2:13,1/1/18 2:22,Subscriber,1957.0,Male,61.0
13,403,1/1/18 2:13,1/1/18 2:20,Subscriber,1984.0,Male,34.0
14,681,1/1/18 2:15,1/1/18 2:26,Subscriber,1984.0,Male,34.0
15,532,1/1/18 2:43,1/1/18 2:52,Subscriber,1992.0,Other,26.0
16,468,1/1/18 5:35,1/1/18 5:43,Subscriber,1991.0,Other,27.0
17,716,1/1/18 6:12,1/1/18 6:24,Subscriber,1954.0,Male,64.0
18,347,1/1/18 6:13,1/1/18 6:19,Subscriber,1996.0,Other,22.0
19,147,1/1/18 6:57,1/1/18 7:00,Subscriber,1992.0,Male,26.0
20,245,1/1/18 7:39,1/1/18 7:43,Subscriber,1991.0,Male,27.0
21,256,1/1/18 7:52,1/1/18 7:57,Subscriber,1984.0,Male,34.0
22,293,1/1/18 7:53,1/1/18 7:58,Subscriber,1959.0,Male,59.0
23,1188,1/1/18 8:25,1/1/18 8:45,Subscriber,1969.0,Other,49.0
24,339,1/1/18 8:55,1/1/18 9:01,Subscriber,1990.0,Male,28.0
25,880,1/1/18 9:22,1/1/18 9:36,Subscriber,1963.0,Male,55.0
26,332,1/1/18 9:25,1/1/18 9:31,Subscriber,1990.0,Male,28.0
27,697,1/1/18 9:29,1/1/18 9:40,Subscriber,1975.0,Other,43.0
28,273,1/1/18 9:38,1/1/18 9:42,Subscriber,1997.0,Male,21.0
29,451,1/1/18 9:44,1/1/18 9:52,Subscriber,1993.0,Male,25.0
...,...,...,...,...,...,...,...
40902,590,1/31/18 22:50,1/31/18 23:00,Subscriber,1994.0,Male,24.0
40903,336,1/31/18 22:52,1/31/18 22:58,Subscriber,1994.0,Male,24.0
40904,760,1/31/18 22:55,1/31/18 23:08,Subscriber,1990.0,Male,28.0
40905,443,1/31/18 22:58,1/31/18 23:05,Subscriber,1966.0,Male,52.0
40906,560,1/31/18 22:58,1/31/18 23:07,Subscriber,1981.0,Male,37.0
40907,413,1/31/18 23:02,1/31/18 23:09,Subscriber,1989.0,Male,29.0
40908,714,1/31/18 23:03,1/31/18 23:15,Subscriber,1988.0,Male,30.0
40909,485,1/31/18 23:06,1/31/18 23:14,Subscriber,1993.0,Other,25.0
40910,187,1/31/18 23:07,1/31/18 23:10,Subscriber,1998.0,Male,20.0
40911,580,1/31/18 23:09,1/31/18 23:19,Subscriber,1986.0,Male,32.0
40912,566,1/31/18 23:12,1/31/18 23:22,Subscriber,1984.0,Male,34.0
40913,313,1/31/18 23:20,1/31/18 23:25,Subscriber,1991.0,Male,27.0
40914,284,1/31/18 23:21,1/31/18 23:25,Subscriber,1986.0,Male,32.0
40915,279,1/31/18 23:24,1/31/18 23:28,Subscriber,1992.0,Male,26.0
40916,303,1/31/18 23:24,1/31/18 23:29,Subscriber,1987.0,Male,31.0
40917,2403,1/31/18 23:26,2/1/18 0:06,Subscriber,1994.0,Male,24.0
40918,672,1/31/18 23:28,1/31/18 23:39,Subscriber,1985.0,Male,33.0
40919,652,1/31/18 23:32,1/31/18 23:43,Subscriber,1982.0,Male,36.0
40920,252,1/31/18 23:33,1/31/18 23:37,Subscriber,1993.0,Other,25.0
40921,327,1/31/18 23:36,1/31/18 23:41,Subscriber,1966.0,Other,52.0
40922,663,1/31/18 23:36,1/31/18 23:47,Subscriber,1990.0,Male,28.0
40923,344,1/31/18 23:43,1/31/18 23:48,Subscriber,1992.0,Male,26.0
40924,769,1/31/18 23:46,1/31/18 23:59,Subscriber,1989.0,Other,29.0
40925,764,1/31/18 23:46,1/31/18 23:59,Subscriber,1985.0,Male,33.0
40926,504,1/31/18 23:48,1/31/18 23:56,Subscriber,1990.0,Male,28.0
40927,233,1/31/18 23:50,1/31/18 23:53,Subscriber,1965.0,Male,53.0
40928,653,1/31/18 23:51,2/1/18 0:02,Subscriber,1982.0,Other,36.0
40929,273,1/31/18 23:52,1/31/18 23:57,Subscriber,1996.0,Male,22.0
40930,548,1/31/18 23:55,2/1/18 0:04,Subscriber,1993.0,Male,25.0
40931,490,1/31/18 23:58,2/1/18 0:06,Subscriber,1996.0,Male,22.0

In [104]:
feb_df = pd.read_csv(feb)
new_feb = feb_df[['tripduration', 'starttime', 
                        'stoptime', 'usertype', 
                        'birth year']]
final_feb = new_feb.dropna()
renamed_feb = final_feb.rename(columns={'tripduration': 'Trip Duration', 'starttime': 'Start Time', 
                        'stoptime': 'Stop Time', 'usertype': 'User Type', 
                        'birth year': 'Age'})
renamed_feb['Age'] = 2018 - (renamed_feb['Age'])

new = renamed_feb["Start Time"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
renamed_feb["Start Date"]= new[0] 
  
# making separate last name column from new data frame 
renamed_feb["Time Start"]= new[1] 
  
# Dropping old Name columns 
renamed_feb.drop(columns =["Start Time"], inplace = True) 
renamed_feb

,Trip Duration,Stop Time,User Type,Age,Start Date,Time Start
0,795,2018-02-01 00:15:27,Subscriber,23.0,2018-02-01,00:02:11
1,293,2018-02-01 00:10:14,Subscriber,27.0,2018-02-01,00:05:20
2,204,2018-02-01 00:10:52,Subscriber,20.0,2018-02-01,00:07:27
3,246,2018-02-01 00:16:26,Subscriber,46.0,2018-02-01,00:12:20
4,656,2018-02-01 00:24:19,Subscriber,30.0,2018-02-01,00:13:22
5,790,2018-02-01 00:35:40,Subscriber,19.0,2018-02-01,00:22:30
6,559,2018-02-01 00:31:49,Subscriber,21.0,2018-02-01,00:22:30
7,647,2018-02-01 00:41:31,Subscriber,28.0,2018-02-01,00:30:44
8,456,2018-02-01 00:46:08,Subscriber,26.0,2018-02-01,00:38:31
9,724,2018-02-01 00:53:01,Subscriber,30.0,2018-02-01,00:40:56
10,504,2018-02-01 00:53:23,Subscriber,38.0,2018-02-01,00:44:59
11,973,2018-02-01 01:37:05,Subscriber,34.0,2018-02-01,01:20:51
12,107,2018-02-01 01:29:03,Subscriber,30.0,2018-02-01,01:27:15
13,303,2018-02-01 01:39:35,Subscriber,30.0,2018-02-01,01:34:31
14,221,2018-02-01 01:46:23,Subscriber,28.0,2018-02-01,01:42:41
15,138,2018-02-01 01:51:18,Subscriber,31.0,2018-02-01,01:49:00
16,1413,2018-02-01 02:13:36,Subscriber,54.0,2018-02-01,01:50:02
17,407,2018-02-01 02:18:21,Subscriber,26.0,2018-02-01,02:11:33
18,368,2018-02-01 02:22:16,Subscriber,54.0,2018-02-01,02:16:08
19,479,2018-02-01 02:44:26,Subscriber,25.0,2018-02-01,02:36:26
21,454,2018-02-01 04:53:57,Subscriber,29.0,2018-02-01,04:46:23
22,175,2018-02-01 05:13:03,Subscriber,57.0,2018-02-01,05:10:08
23,227,2018-02-01 05:15:47,Subscriber,18.0,2018-02-01,05:12:00
24,172,2018-02-01 05:17:21,Subscriber,45.0,2018-02-01,05:14:28
25,147,2018-02-01 05:22:57,Subscriber,42.0,2018-02-01,05:20:29
26,272,2018-02-01 05:30:30,Subscriber,37.0,2018-02-01,05:25:57
27,767,2018-02-01 05:40:10,Subscriber,35.0,2018-02-01,05:27:22
28,1439,2018-02-01 05:56:10,Subscriber,29.0,2018-02-01,05:32:10
29,104,2018-02-01 05:36:40,Subscriber,29.0,2018-02-01,05:34:56
30,347,2018-02-01 05:43:11,Subscriber,31.0,2018-02-01,05:37:24
...,...,...,...,...,...,...
62784,1199,2018-02-28 23:28:08,Subscriber,30.0,2018-02-28,23:08:09
62787,419,2018-02-28 23:16:39,Subscriber,24.0,2018-02-28,23:09:39
62788,391,2018-02-28 23:16:24,Subscriber,24.0,2018-02-28,23:09:52
62789,440,2018-02-28 23:21:20,Subscriber,20.0,2018-02-28,23:13:59
62790,426,2018-02-28 23:21:21,Subscriber,27.0,2018-02-28,23:14:15
62791,318,2018-02-28 23:19:59,Subscriber,28.0,2018-02-28,23:14:40
62792,1198,2018-02-28 23:36:35,Subscriber,20.0,2018-02-28,23:16:37
62793,1067,2018-02-28 23:35:11,Subscriber,23.0,2018-02-28,23:17:24
62794,2702,2018-03-01 00:02:26,Subscriber,27.0,2018-02-28,23:17:23
62795,190,2018-02-28 23:22:16,Subscriber,40.0,2018-02-28,23:19:06
62796,453,2018-02-28 23:30:27,Subscriber,32.0,2018-02-28,23:22:53
62797,391,2018-02-28 23:31:07,Subscriber,32.0,2018-02-28,23:24:35
62798,717,2018-02-28 23:36:32,Subscriber,27.0,2018-02-28,23:24:34
62799,692,2018-02-28 23:36:36,Subscriber,25.0,2018-02-28,23:25:03
62800,819,2018-02-28 23:39:48,Subscriber,35.0,2018-02-28,23:26:09
62801,1131,2018-02-28 23:45:21,Subscriber,51.0,2018-02-28,23:26:29
62802,1543,2018-02-28 23:53:17,Subscriber,29.0,2018-02-28,23:27:33
62803,570,2018-02-28 23:39:31,Subscriber,52.0,2018-02-28,23:30:00
62804,383,2018-02-28 23:36:36,Subscriber,21.0,2018-02-28,23:30:13
62806,468,2018-02-28 23:42:42,Subscriber,22.0,2018-02-28,23:34:54
62807,495,2018-02-28 23:43:32,Subscriber,27.0,2018-02-28,23:35:16
62808,710,2018-02-28 23:48:05,Subscriber,31.0,2018-02-28,23:36:15
62809,1376,2018-03-01 00:08:58,Subscriber,29.0,2018-02-28,23:46:01
62810,478,2018-02-28 23:57:29,Subscriber,29.0,2018-02-28,23:49:30
62811,1806,2018-03-01 00:20:02,Subscriber,33.0,2018-02-28,23:49:55
62812,481,2018-02-28 23:58:27,Subscriber,22.0,2018-02-28,23:50:26
62813,214,2018-02-28 23:54:12,Subscriber,53.0,2018-02-28,23:50:38
62814,277,2018-02-28 23:56:29,Subscriber,20.0,2018-02-28,23:51:52
62815,383,2018-03-01 00:00:41,Subscriber,23.0,2018-02-28,23:54:18
62816,611,2018-03-01 00:08:33,Subscriber,24.0,2018-02-28,23:58:21

In [18]:
march = "Resources/2018_03.csv"
march_df = pd.read_csv(march)
for col in march_df.columns: 
    print(col)

RouteID
PaymentPlan
StartHub
StartLatitude
StartLongitude
StartDate
StartTime
EndHub
EndLatitude
EndLongitude
EndDate
EndTime
TripType
BikeID
BikeName
Distance_Miles
Duration
RentalAccessPath
MultipleRental

In [ ]:
new_df = pd.dataframe[["Duration", "StartTime". "EndTime", "StartHub", ""]]